{% extends 'base.html' %}
{% load static %}

{% block page-title %}
    Edit
{% endblock %}

{% block page-header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand offset-md-1" href="{% url 'home' %}">
            <img src="/media/logo/logo_2ngeXMV.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-columns"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block page-body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Edit Event</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Event Title:</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="event_title" value="{{ event.event_title }}" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Event Description:</label>
                                <div class="col-md-7">
                                    <textarea class="form-control" cols="30" rows="15" name="event_description" required>{{ event.event_description }}</textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Image:</label>
                                <div class="col-md-7">
                                    <input type="file" name="event_image" value="{{ event.event_image.url }}" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary"> Update </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}